@charset "UTF-8";
.usefull-links {
  font-family: "FuturaDemiC";
  font-weight: 400;
  font-style: normal;
}

.menu__list-link {
  font-family: "FuturaLightC";
  font-weight: 300;
  font-style: normal;
}

.links p, .work__blog-descr, .work__title, .product__descr, .item__descr, .about__descr, .form__copyright, .inputBox label, .supplies__blog-item, .supplies__blog-text {
  font-family: "FuturaBookC";
  font-weight: 400;
}

/* futurafuturisc */
.work__blog-title, .work__blog-number, .item__title, .title, .form__title, .supplies__blog-title, .bold {
  font-family: "FuturaFuturisCBold";
  font-weight: 700;
}

.button, .regular {
  font-family: "FuturaFuturisCRegular";
  font-weight: 400;
}

/* Futura */
@font-face {
  font-family: "FuturaDemiC";
  src: url("FuturaDemiC.eot");
  src: local("Futura Demi Cyrillic"), local("FuturaDemiC"), url("../fonts/Futura/FuturaDemiC.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaDemiC.woff2") format("woff2"), url("../fonts/Futura/FuturaDemiC.woff") format("woff"), url("../fonts/Futura/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("../fonts/Futura/FuturaMediumC.eot");
  src: local("Futura Medium Cyrillic"), local("FuturaMediumC"), url("../fonts/Futura/FuturaMediumC.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaMediumC.woff2") format("woff2"), url("../fonts/Futura/FuturaMediumC.woff") format("woff"), url("../fonts/Futura/FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FuturaLightC";
  src: url("FuturaLightC-Italic.eot");
  src: local("Futura Light Italic Cyrillic"), local("FuturaLightC-Italic"), url("../fonts/Futura/FuturaLightC-Italic.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaLightC-Italic.woff2") format("woff2"), url("../fonts/Futura/FuturaLightC-Italic.woff") format("woff"), url("../fonts/Futura/FuturaLightC-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("../fonts/Futura/FuturaMediumC-Italic.eot");
  src: local("Futura Medium Italic Cyrillic"), local("FuturaMediumC-Italic"), url("../fonts/Futura/FuturaMediumC-Italic.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaMediumC-Italic.woff2") format("woff2"), url("../fonts/Futura/FuturaMediumC-Italic.woff") format("woff"), url("../fonts/Futura/FuturaMediumC-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "FuturaLightC";
  src: url("FuturaLightC.eot");
  src: local("Futura Light Cyrillic"), local("FuturaLightC"), url("../fonts/Futura/FuturaLightC.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaLightC.woff2") format("woff2"), url("../fonts/Futura/FuturaLightC.woff") format("woff"), url("../fonts/Futura/FuturaLightC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("../fonts/Futura/FuturaDemiC-Italic.eot");
  src: local("Futura Demi Italic Cyrillic"), local("FuturaDemiC-Italic"), url("../fonts/Futura/FuturaDemiC-Italic.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaDemiC-Italic.woff2") format("woff2"), url("../fonts/Futura/FuturaDemiC-Italic.woff") format("woff"), url("../fonts/Futura/FuturaDemiC-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/Futura/FuturaBookC-Italic.eot");
  src: local("Futura Book Italic Cyrillic"), local("FuturaBookC-Italic"), url("../fonts/Futura/FuturaBookC-Italic.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaBookC-Italic.woff2") format("woff2"), url("../fonts/Futura/FuturaBookC-Italic.woff") format("woff"), url("../fonts/Futura/FuturaBookC-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/Futura/FuturaBookC.eot");
  src: local("Futura Book Cyrillic"), local("FuturaBookC"), url("../fonts/Futura/FuturaBookC.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaBookC.woff2") format("woff2"), url("../fonts/Futura/FuturaBookC.woff") format("woff"), url("../fonts/Futura/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Futura Futuris C */
@font-face {
  font-family: "FuturaFuturisCBold";
  src: local("FuturaFuturisC Bold"), local("FuturaFuturisCBold"), url("../fonts/FuturaFuturis/FuturaFuturisCBold.woff2") format("woff2"), url("../fonts/FuturaFuturis/FuturaFuturisCBold.woff") format("woff"), url("../fonts/FuturaFuturis/FuturaFuturisCBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaFuturisCRegular";
  src: local("FuturaFuturisC Regular"), local("FuturaFuturisCRegular"), url("../fonts/FuturaFuturis/FuturaFuturisCRegular.ttf") format("woff2"), url("../fonts/FuturaFuturis/FuturaFuturisCRegular.woff2") format("woff"), url("../fonts/FuturaFuturis/FuturaFuturisCRegular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.usefull-links {
  font-family: "FuturaDemiC";
  font-weight: 400;
  font-style: normal;
}

.menu__list-link {
  font-family: "FuturaLightC";
  font-weight: 300;
  font-style: normal;
}

.links p, .work__blog-descr, .work__title, .product__descr, .item__descr, .about__descr, .form__copyright, .inputBox label, .supplies__blog-item, .supplies__blog-text {
  font-family: "FuturaBookC";
  font-weight: 400;
}

/* futurafuturisc */
.work__blog-title, .work__blog-number, .item__title, .title, .form__title, .supplies__blog-title, .bold {
  font-family: "FuturaFuturisCBold";
  font-weight: 700;
}

.button, .regular {
  font-family: "FuturaFuturisCRegular";
  font-weight: 400;
}

/* Futura */
@font-face {
  font-family: "FuturaDemiC";
  src: url("FuturaDemiC.eot");
  src: local("Futura Demi Cyrillic"), local("FuturaDemiC"), url("../fonts/Futura/FuturaDemiC.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaDemiC.woff2") format("woff2"), url("../fonts/Futura/FuturaDemiC.woff") format("woff"), url("../fonts/Futura/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("../fonts/Futura/FuturaMediumC.eot");
  src: local("Futura Medium Cyrillic"), local("FuturaMediumC"), url("../fonts/Futura/FuturaMediumC.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaMediumC.woff2") format("woff2"), url("../fonts/Futura/FuturaMediumC.woff") format("woff"), url("../fonts/Futura/FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FuturaLightC";
  src: url("FuturaLightC-Italic.eot");
  src: local("Futura Light Italic Cyrillic"), local("FuturaLightC-Italic"), url("../fonts/Futura/FuturaLightC-Italic.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaLightC-Italic.woff2") format("woff2"), url("../fonts/Futura/FuturaLightC-Italic.woff") format("woff"), url("../fonts/Futura/FuturaLightC-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("../fonts/Futura/FuturaMediumC-Italic.eot");
  src: local("Futura Medium Italic Cyrillic"), local("FuturaMediumC-Italic"), url("../fonts/Futura/FuturaMediumC-Italic.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaMediumC-Italic.woff2") format("woff2"), url("../fonts/Futura/FuturaMediumC-Italic.woff") format("woff"), url("../fonts/Futura/FuturaMediumC-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "FuturaLightC";
  src: url("FuturaLightC.eot");
  src: local("Futura Light Cyrillic"), local("FuturaLightC"), url("../fonts/Futura/FuturaLightC.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaLightC.woff2") format("woff2"), url("../fonts/Futura/FuturaLightC.woff") format("woff"), url("../fonts/Futura/FuturaLightC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("../fonts/Futura/FuturaDemiC-Italic.eot");
  src: local("Futura Demi Italic Cyrillic"), local("FuturaDemiC-Italic"), url("../fonts/Futura/FuturaDemiC-Italic.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaDemiC-Italic.woff2") format("woff2"), url("../fonts/Futura/FuturaDemiC-Italic.woff") format("woff"), url("../fonts/Futura/FuturaDemiC-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/Futura/FuturaBookC-Italic.eot");
  src: local("Futura Book Italic Cyrillic"), local("FuturaBookC-Italic"), url("../fonts/Futura/FuturaBookC-Italic.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaBookC-Italic.woff2") format("woff2"), url("../fonts/Futura/FuturaBookC-Italic.woff") format("woff"), url("../fonts/Futura/FuturaBookC-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../fonts/Futura/FuturaBookC.eot");
  src: local("Futura Book Cyrillic"), local("FuturaBookC"), url("../fonts/Futura/FuturaBookC.eot") format("embedded-opentype"), url("../fonts/Futura/FuturaBookC.woff2") format("woff2"), url("../fonts/Futura/FuturaBookC.woff") format("woff"), url("../fonts/Futura/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Futura Futuris C */
@font-face {
  font-family: "FuturaFuturisCBold";
  src: local("FuturaFuturisC Bold"), local("FuturaFuturisCBold"), url("../fonts/FuturaFuturis/FuturaFuturisCBold.woff2") format("woff2"), url("../fonts/FuturaFuturis/FuturaFuturisCBold.woff") format("woff"), url("../fonts/FuturaFuturis/FuturaFuturisCBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaFuturisCRegular";
  src: local("FuturaFuturisC Regular"), local("FuturaFuturisCRegular"), url("../fonts/FuturaFuturis/FuturaFuturisCRegular.ttf") format("woff2"), url("../fonts/FuturaFuturis/FuturaFuturisCRegular.woff2") format("woff"), url("../fonts/FuturaFuturis/FuturaFuturisCRegular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  /* font-family: "Popins", sans-serif; */
  font-size: 18px;
  color: #FFFFFF;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #F2F2F4;
}

.head {
  min-height: 80px;
}

.header {
  padding-top: 54px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 38px;
  list-style: none;
}
.menu__list-link {
  color: #FFFFFF;
}
.menu__list-link:hover {
  cursor: pointer;
  color: red;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 9px;
}

@media (max-width: 1200px) {
  .menu__list {
    grid-gap: 29px;
  }
}
@media (max-width: 1024px) {
  .header {
    min-height: 79px;
    padding-top: 22px;
    padding-bottom: 23px;
  }
  .link-font {
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-size: 89px;
    line-height: 130%;
    color: #FFFFFF;
    display: block;
  }
  .header__sign {
    margin-left: auto;
    margin-right: 8px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 95px;
    margin: 0 auto;
    top: 130px;
    left: 100px;
    position: absolute;
  }
  .menu__list-link {
    font-family: "Montserrat-Medium";
    font-weight: 500;
    font-size: 60px;
    line-height: 89%;
    color: #FFFFFF;
  }
  .menu {
    display: none;
  }
}
@media (max-width: 568px) {
  .logo {
    max-width: 125px;
    height: 22px;
  }
  .header {
    min-height: 43px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header__sign {
    padding: 7px 13px;
    width: 90px;
    font-size: 7px;
    height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 431px) {
  .logo {
    max-width: 169px;
  }
  .link {
    font-size: 8px;
    width: 100px;
    height: 25px;
  }
  .header__sign {
    padding: 8px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: -3px;
  }
  .header {
    min-height: 67px;
    padding-top: 21px;
  }
  .menu__list {
    top: 117px;
    left: 34px;
    grid-gap: 45px;
  }
  .menu__list-link {
    line-height: 78%;
    font-size: 32px;
  }
  .link-font {
    font-size: 50px;
  }
}
@media (max-width: 320px) {
  .mobile-nav-button {
    margin-right: -2px;
  }
}
.main {
  height: 100vh;
}

.supplies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 102px;
}

.supplies-bg {
  position: relative;
  height: 100%;
}

.supplies-bg img {
  height: 850px;
  position: absolute;
  left: -8px;
  top: -90px;
  width: 100%;
  z-index: -1;
}
.supplies-bg img__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 102px;
}

.supplies__blog-title {
  font-size: 69px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 847px;
  margin-top: 10px;
  margin-bottom: 4px;
}
.supplies__blog-color {
  font-size: 56px;
  color: #969af7;
  text-transform: lowercase;
}
.supplies__blog-color1 {
  font-size: 61px;
  line-height: 123%;
}
.supplies__blog-list {
  border-radius: 10px;
  padding: 23px 0 0 59px;
  position: relative;
}
.supplies__blog-text {
  font-size: 23px;
  line-height: 130%;
  color: #969af7;
  max-width: 672px;
  margin-bottom: 37px;
}

.list {
  border-radius: 10px;
  width: 835px;
  height: 150px;
  background-image: url(../images/rectangle.png);
}

.supplies__blog-item {
  font-size: 22px;
  line-height: 130%;
  color: #fff;
  margin-top: 5px;
}
.supplies__blog-item::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 11px;
  background-image: url(../images/check.png);
  left: 27px;
  z-index: 0;
  margin-top: 8px;
}

.form {
  border-radius: 10px;
  width: 380px;
  min-height: 473px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
}

.form__title {
  background: -webkit-gradient(linear, left top, left bottom, from(#6a32b4), to(#552693));
  background: linear-gradient(180deg, #6a32b4 0%, #552693 100%);
  border-radius: 10px 10px 0 0;
  width: 380px;
  height: 110px;
  padding: 52px 17px 0px 60px;
  font-size: 23px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.form__wrap {
  padding: 31px 40px 36px;
}

.inputBox {
  margin-bottom: 6px;
}
.inputBox input {
  border-radius: 10px;
  width: 300px;
  height: 56px;
  -webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #f5f3ff;
  margin-top: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 129%;
  color: #bcbfc4;
  padding-left: 20px;
}
.inputBox label {
  font-size: 18px;
  line-height: 129%;
  color: #626366;
  margin-left: 20px;
  margin-bottom: 5px;
}

.input__button {
  padding: 19px 20px 18px 68px !important;
  margin-top: 34px;
  margin-bottom: 17px;
}

.button {
  width: 300px;
  height: 56px;
  font-size: 18px;
  line-height: 106%;
  display: block;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ffa500 !important;
}

.form__copyright {
  font-size: 14px;
  color: #c0c0c0;
  max-width: 264px;
  margin-left: 26px;
  position: relative;
}
.form__copyright::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../images/lock.svg);
  left: -26px;
}

.about {
  padding: 0 0 130px;
}

.container__about {
  max-width: 1252px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  font-size: 45px;
  line-height: 100%;
  text-align: center;
}

.about__title {
  color: #111;
  margin-bottom: 25px;
  padding-top: 85px;
}

.about__descr {
  font-size: 22px;
  line-height: 109%;
  text-align: center;
  color: #030303;
  max-width: 1051px;
  text-align: center;
  margin-bottom: 42px;
}

.about__wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 43px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  width: 369px;
  height: 406px;
  background-image: url(../images/about-item-bg.png);
  background-position: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__title {
  font-size: 20px;
  text-align: center;
  color: #2a336c;
  margin-bottom: 14px;
  margin-top: 39px;
}
.item__descr {
  max-width: 305px;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  color: #555;
}

.product {
  background-image: url(../images/product-bg.png);
  height: 728px;
  width: 100%;
  padding: 0px 0px 70px;
}
.product__inner {
  height: 174px;
}
.product__title {
  padding-top: 154px;
  margin-bottom: 57px;
}
.product__descr {
  font-size: 20px;
  line-height: 155%;
  color: #fff;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.reviews__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.reviews__img {
  max-width: 242px;
  height: 174px;
  margin-right: 18px;
}

.direct {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-arrow {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.slick-prev {
  top: 67px;
  left: -71px;
}

.slick-next {
  right: 17px;
  top: 67px;
}

.work {
  background-image: url(../images/work-bg.png);
  height: 1098px;
}
.work__descr {
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #333;
  margin-bottom: 46px;
}
.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.work__title {
  color: #111;
  margin-bottom: 24px;
  padding-top: 72px;
}

.work__blog {
  width: 439px;
  height: 268px;
  padding: 38px 0 44px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 14px;
}
.work__blog-number {
  font-size: 36px;
  text-align: center;
  color: #969af7;
}
.work__blog-title {
  font-size: 18px;
  line-height: 139%;
  color: #fff;
  margin-bottom: 28px;
  margin-top: 10px;
}
.work__blog-descr {
  font-size: 18px;
  line-height: 139%;
  color: #e3e3e3;
  max-width: 311px;
}

.work__blog:nth-child(1) {
  background-image: url(../images/work-1.png);
  background-repeat: no-repeat;
  max-width: 439px;
  height: 268px;
}

.work__blog:nth-child(2) {
  background-image: url(../images/work-2.png);
  background-repeat: no-repeat;
  max-width: 439px;
  height: 268px;
}

.work__blog:nth-child(3) {
  background-image: url(../images/work-3.png);
  background-repeat: no-repeat;
  max-width: 400px;
  height: 298px;
}

.work__blog:nth-child(4) {
  background-image: url(../images/work-4.png);
  background-repeat: no-repeat;
  max-width: 413px;
  height: 268px;
}

.work__blog:nth-child(5) {
  background-image: url(../images/work-5.png);
  background-repeat: no-repeat;
  max-width: 441px;
  height: 268px;
}

.work__blog:nth-child(6) {
  background-image: url(../images/work-6.png);
  background-repeat: no-repeat;
  max-width: 428px;
  height: 268px;
}

.work__button {
  padding: 19px 20px 18px 72px !important;
  text-align: center;
  margin: 0 auto;
}

.questions {
  background-image: url(../images/questions.png);
  height: 1193px;
  margin-top: -61px;
}
.questions__title {
  color: #fff;
  padding-top: 144px;
  margin-bottom: 40px;
  margin-right: -31%;
}

.spoiler_container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 30px;
}

.spoiler_wrap {
  border-radius: 10px;
  padding: 32px;
  max-width: 1170px;
  height: 88px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.07), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.07), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

.spoiler_title {
  cursor: pointer;
  font-size: 20px;
  line-height: 110%;
  color: #0f172a;
}

.spoiler_content {
  padding: 30px 26px;
}

.spoiler_content {
  padding-top: 0;
  padding-bottom: 10px;
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  height: auto;
  max-height: auto;
  overflow: hidden;
  margin-top: -10px;
  opacity: 0;
  font-size: 14px;
  color: #0f172a;
}

.spoiler_content p {
  font-size: 16px;
  margin: 20px 0;
  color: #0f172a;
  line-height: 1.4;
}

.spoiler_content.open {
  margin-top: 0;
  max-height: auto;
  opacity: 1;
}

.spoiler_title .spoiler_arrow {
  margin-left: 15px;
  font-size: 20px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  display: block;
  margin-left: auto;
  width: 24px;
  height: 24px;
}

.spoiler_title .spoiler_arrow svg {
  fill: red;
  width: 13px;
}

.spoiler_title .spoiler_arrow.open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1024px) {
  .spoiler_container {
    margin-top: 32px;
    grid-gap: 20px;
  }
  .questions {
    padding: 0 0 95px;
  }
}
@media (max-width: 500px) {
  .questions {
    padding: 0 0 52px;
  }
  .spoiler_container {
    grid-gap: 10px;
  }
  .spoiler_wrap {
    height: 37px;
    padding: 13px;
    max-width: 370px;
    border-radius: 4px;
  }
  .spoiler_title {
    font-size: 8px;
  }
  .spoiler_title .spoiler_arrow {
    width: 10px;
    height: 10px;
    display: block;
    margin-left: auto;
  }
}
.footer {
  height: 177px;
  background: #333;
}
.footer__logo {
  width: 189px;
  height: 34px;
}

.footer__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 61px;
}

.footer__link {
  border-radius: 10px;
  width: 261px;
  height: 56px;
  background-color: #969af7;
  display: block;
  font-size: 18px;
  line-height: 106%;
  text-align: center;
  color: #fff;
  padding: 19px 20px 18px 52px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 82px 0 18px;
  }
  .company__container-text {
    font-size: 12px;
    width: 264px;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copyright {
    font-size: 9px;
  }
  .company__container {
    margin-bottom: 57px;
  }
  .footer-line {
    -webkit-transform: translate(0px, -30px);
        -ms-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
  }
}
@media (max-width: 500px) {
  .company__container-text {
    margin: 0 auto;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 30px;
  }
  .logo-img {
    display: block;
    margin: 0 auto;
  }
  .footer {
    padding: 40px 0 40px;
  }
  .social__container-list {
    margin: 0 auto;
  }
  footer .logo {
    margin: 0 auto;
    max-width: 133px;
  }
}
@media (max-width: 431px) {
  .company__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-line {
    max-width: 370px;
    margin: 0 auto;
  }
}
.mobile-nav {
  display: none;
}

.mobile-nav-button {
  /* Reset for button */
  cursor: pointer;
  margin-top: -9px;
  border: none;
  background: transparent;
  /* Nav icon styles*/
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: -100;
}

.mobile-nav {
  display: none;
}

.mobile-nav-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  position: relative;
  z-index: 999;
  width: 40px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media (max-width: 1024px) {
  .mobile-nav-button__icon {
    display: block;
    position: relative;
    width: 27px;
    height: 2.6px;
    background: linear-gradient(225deg, #512b81 0%, #013ef8 100%);
    border-radius: 4px;
  }
  .mobile-nav-list {
    height: 1366px;
    background: linear-gradient(225deg, #512b81 0%, #013ef8 100%);
    width: 1024px;
    border-radius: 40px;
    position: absolute;
    top: 0;
    z-index: 25;
  }
  .mobile-nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
  }
  .mobile-login > * + * {
    margin-left: 30px;
  }
  .mobile-nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mobile-nav-button__icon::after,
  .mobile-nav-button__icon::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 2.7px;
    border-radius: 4px;
    background: linear-gradient(225deg, #512b81 0%, #013ef8 100%);
    /* Трансформация при закрывании */
    -webkit-transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
    transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
    border-radius: 4px;
  }
  .mobile-nav-button__icon.active::after,
  .mobile-nav-button__icon.active::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    background: linear-gradient(225deg, #512b81 0%, #013ef8 100%);
    /* Трансформация при закрывании */
    -webkit-transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
    transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
  }
  .mobile-nav-button__icon::before {
    left: 0;
    top: -10px;
  }
  .mobile-nav-button__icon::after {
    left: 0;
    top: 10px;
  }
  .mobile-nav-button__icon.active {
    background: none;
    background-image: url(../images/hide.png);
    background-repeat: no-repeat;
    margin-left: -100px;
    width: 61px;
    height: 63px;
    margin-top: 250px;
    position: absolute;
    left: 56px;
  }
  .mobile-nav-button__icon.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    /* Трансформация при открывании */
    -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
  }
  .mobile-nav-button__icon.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    /* Трансформация при открывании */
    -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
  }
  .header {
    position: relative;
  }
}
.info-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 13px;
}

.usefull-links:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#969af7), to(#686eec));
  background: linear-gradient(180deg, #969af7 0%, #686eec 100%);
  color: #fff;
}

.usefull-links {
  position: relative;
  -webkit-box-shadow: 0 0 50px -10px rgba(22, 126, 194, 0.2);
          box-shadow: 0 0 50px -10px rgba(22, 126, 194, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c0e1fa)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bdc0ff));
  background: linear-gradient(180deg, #fff 0%, #c0e1fa 100%), linear-gradient(180deg, #fff 0%, #bdc0ff 100%);
  border-radius: 10px;
  max-width: 1280px;
  height: 87px;
  padding: 30px 0px 29px 53px;
  color: #333;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  color: #333;
}

i.flaticon-down-arrow:hover circle {
  fill: #fff;
}
i.flaticon-down-arrow:hover path {
  fill: #000;
}

i.flaticon-down-arrow {
  position: absolute;
  right: 37px;
  top: 23px;
}

.links {
  background: #fff;
  border-radius: 10px;
  padding: 39px 43px 45px 53px;
  padding-top: 0;
  padding-bottom: 10px;
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  height: auto;
  max-height: auto;
  overflow: hidden;
  margin-top: -10px;
  opacity: 0;
  height: 0;
}

.links p {
  display: block;
  font-size: 20px;
  line-height: 135%;
  color: #333;
  padding: 39px 43px 45px 53px;
}

.links.open {
  margin-top: 0;
  max-height: auto;
  opacity: 1;
  height: 435px;
}

.info-div {
  position: relative;
  padding-top: 20px;
}

.info-div i {
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

.info-div i:hover.open:hover {
  -webkit-transform: rotate(180deg) !important;
      -ms-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
  -webkit-transition: ease all 0.4s;
  transition: ease all 0.4s;
}

.info-div.active i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1200px) {
  .links p {
    padding: 18px 0px 45px 0px;
    font-size: 18px;
  }
}
@media (max-width: 960px) {
  .links p {
    line-height: 112%;
  }
  .usefull-links {
    font-size: 20px;
  }
}
@media (max-width: 744px) {
  .links p {
    font-size: 16px;
  }
  .usefull-links {
    font-size: 18px;
  }
}
@media (max-width: 640px) {
  .links p {
    font-size: 14px;
    line-height: 131%;
  }
  .usefull-links {
    font-size: 14px;
    height: 50px;
  }
  .flaticon-down-arrow svg {
    width: 27px;
    height: 24px;
  }
}
@media (max-width: 533px) {
  .usefull-links {
    font-size: 12px;
    padding: 23px 0px 29px 24px;
  }
  .links p {
    font-size: 13px;
    line-height: 115%;
  }
  i.flaticon-down-arrow {
    position: absolute;
    top: 16px;
    right: 24px;
  }
}
@media (max-width: 466px) {
  .usefull-links {
    font-size: 11px;
    padding: 23px 0px 29px 24px;
  }
  .links p {
    font-size: 10px;
    line-height: 160%;
  }
}
@media (max-width: 391px) {
  .usefull-links {
    font-size: 10px;
    padding: 23px 0px 29px 15px;
  }
  .links p {
    font-size: 9px;
    line-height: 169%;
  }
  .flaticon-down-arrow svg {
    width: 16px;
    height: 16px;
  }
  i.flaticon-down-arrow {
    top: 21px;
    right: 17px;
  }
}
@media (max-width: 320px) {
  .usefull-links {
    font-size: 9px;
    padding: 23px 0px 29px 8px;
    height: 42px;
  }
  .links p {
    font-size: 8px;
    line-height: 169%;
  }
  .flaticon-down-arrow svg {
    width: 16px;
    height: 16px;
  }
  i.flaticon-down-arrow {
    top: 21px;
    right: 17px;
  }
}
@media (max-width: 744px) {
  .mobile-nav-button__icon::before {
    left: 0;
    top: -7px;
    height: 1.7px;
  }
  .mobile-nav-button__icon::after {
    left: 0;
    top: 7px;
    height: 1.8px;
  }
  .mobile-nav-button {
    margin-top: -1px;
  }
  .mobile-nav-button__icon {
    height: 1.8px;
  }
}
@media (max-width: 568px) {
  .mobile-nav-button__icon {
    width: 21.5px;
    height: 1.6px;
  }
  .mobile-nav-button__icon::after {
    height: 1.7px;
    width: 21.5px;
  }
  .mobile-nav-button__icon::before {
    height: 1.7px;
    width: 21px;
  }
}
@media (max-width: 568px) {
  .mobile-nav-button__icon.active {
    margin-top: 158px;
    left: 104px;
  }
}
@media (max-width: 431px) {
  .mobile-nav-button__icon.active {
    background-image: url(../images/mobile-hide.png);
    width: 31px;
    height: 28px;
    margin-top: 72px;
    left: 71px;
  }
  .mobile-nav-button__icon {
    width: 13px;
  }
  .mobile-nav-button__icon::before {
    width: 13px;
    top: 6px;
  }
  .mobile-nav-button__icon::after {
    width: 13px;
    top: -6px;
  }
  .mobile-nav-list {
    width: 414px;
    height: 896px;
  }
}
@media (max-width: 390px) {
  .mobile-nav-button__icon.active {
    left: 192px;
  }
}
@media (max-width: 320px) {
  .mobile-nav-button__icon.active {
    left: 109px;
  }
  .mobile-nav-list {
    width: 320px;
    height: 896px;
  }
}