$default-color: #FFFFFF;
$phylloet-color:#969af7;
$black-color:#333;
$black-color1:#111;
$blue-color:#3030b4;


%futurademic-400 {
  font-family: "FuturaDemiC";
  font-weight: 400;
  font-style: normal;
}

%futurademicitalic-400 {
  font-family: "FuturaDemiC";
  font-weight: 400;
  font-style: italic;
}

%futuralightcitalic-300 {
  font-family: "FuturaLightC";
  font-weight: 300;
  font-style: italic;
}
%futuralightc-300 {
  font-family: "FuturaLightC";
  font-weight: 300;
  font-style: normal;
}

%futuramediumcitalic-500 {
  font-family: "FuturaMediumC";
  font-weight: 500;
  font-style: italic;
}

%futuramediumc-500 {
  font-family: "FuturaMediumC";
  font-weight: 500;
  font-style: normal;
}

%futurabookcitalic-400 {
  font-family: "FuturaBookC";
  font-weight: 400;
  font-style: italic;
}

%futurabookc-400 {
  font-family: "FuturaBookC";
  font-weight: 400;
}

/* futurafuturisc */

%futurafuturiscbold-700 {
  font-family: "FuturaFuturisCBold";
  font-weight: 700;
}
%futurafuturiscregular-400 {
  font-family: "FuturaFuturisCRegular";
  font-weight: 400;
}
